<table class="table table-sm table-striped">
  <thead>
    <th>id</th>
    <th>Name</th>
    <th>Category</th>
    <th>Price</th>
  </thead>
  <tbody>
    <tr *ngFor="let prod of getProducts()">
      <td>
        {{prod.id}}
      </td>
      <td>
        {{prod.name}}
      </td>
      <td>
        {{prod.category}}
      </td>
      <td>
        {{prod.price | currency:"INR":"symbol":"2.2-2"}}
      </td>
      <td>
        <button class="btn btn-warning" [routerLink]="['/admin/main/products/edit',prod.id]">
          Edit
        </button>
        <button class="btn btn-danger" (click)="deleteProduct(prod.id)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
<button class="btn btn-primary" routerLink='/admin/main/products/create'>
 Create New Product
</button>
